@import '../../sass/variables';

.inputContainer {
  position: relative;

  .maininput {
    padding: 7px;
    border-radius: 4px;
    font-size: 16px;
    width: 600px;
    background: var(--input-background, #ffffff);
    border: 2px solid transparent;
    box-shadow: 0 0 0 1px #dddddd, 0 2px 4px 0 rgb(0 0 0 / 7%), 0 1px 1.5px 0 rgb(0 0 0 / 5%);
    color: var(--input-text-color);

    :focus{
      border: 2px solid #000;
      border-radius: 4px;
    }
  }

  .select_container {
    color: var(--input-text-color);
    position: absolute;
    top: auto;
    left: 0px;
    margin-top: 5px;

    .select {
      padding: 7px;
      background-color: var(--select-background-color, #ffffff);
      width: 600px;

      &:hover {
        cursor: pointer;
        background-color:  var(--select-background-color-hover, #ffffff);
        color: var(--select-text-color-hover, #ffffff);
      }
    }
  }
}