:root[data-theme="light"] {
  --background-color: #fafafa;
  --header-background: #ffffff;
  --main-background: #ffffff;
  //Theme toggle
  --toggle-background: #414141;
  --tiggle-switch: #ffffff;
  //Map
  // --map-filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);
  //Input
  --input-background: #fbfbfb;
  //Card
  --card-background: rgba(204, 204, 204, 0.88);
  --card-text-color: #2b2b2b;
  --card-hour-color:#adadad;
  --main-card-shadow: 0px 0px 40px 5px rgba(0, 0, 0, 0.5);

  --border-hover-day: 3px solid ;

  //select
  --input-text-color: #2b2b2b;
  --select-background-color: #f0f0f0;
  --select-background-color-hover: #2b2b2b;
  --select-text-color-hover: #fafafa;
  --toggle-rate: 1;
}

:root[data-theme="dark"] {
  --background-color: #414141;
  --header-background: #414141;
  --main-background: #414141;
  //Theme toggle
  --toggle-background: #ffffff;
  --tiggle-switch: #414141;
  //Map
  --map-filter: brightness(0.6) invert(0.9) contrast(5) hue-rotate(200deg) saturate(0.6) brightness(0.5);
  --map-background: #303030;
  //Input
  --input-background: #303030;
  //Card
  --card-background: rgba(117, 117, 117, 0.88);
  --card-text-color: #eaeaea;
  --card-hour-color:#575757;
  
  --main-card-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.7);

  --border-hover-day: 3px solid rgb(7, 7, 7);
  //select
  --input-text-color: #fafafa;
  --select-background-color: #303030;
  --select-background-color-hover: #fafafa;
  --select-text-color-hover: #2b2b2b;
  --toggle-rate: 1;
}
$toggle-rate: 1;