@import '../../../sass/variables';

.weatherdaysline {
  margin-top: 7px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  grid-template-rows: auto;
  gap: 7px;

  .weatherdays {
    cursor: pointer;
    height: 115px;
    border: 2px;
    border-radius: 4px;
    padding: 10px;
    font-size: 10px;
    background: var(--card-hour-color, #ffffff);
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .degreeContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .weatherDegry {
        text-align: center;
        font-size: 25px;
      }

      .weatherIcon {
        width: 60%;
        @media (max-width: 1140px) {
          width: 40%;
        }
      }

      .weatherDescription {
        text-align: center;
        font-size: 1px;

        &:first-letter {
          text-transform: capitalize;
        }
      }
    }

    .weatherDate {
      text-align: center;
      font-size: 15px;
    }

    &:hover {
      border: var(--border-hover-day, 3px solid rgb(244, 244, 244))
    }
  }
}