@import '../../sass/variables';

.maincard {
  
  z-index: 1000;
  position: absolute;
  top: 50%;
  left: 75%;
  max-height: 80%;
  width: 40%;
  min-width: 710px;
  transform: translate(-50%, -50%);
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  background: var(--card-background, rgba(255,255,255,0.88));
  color: var(--card-text-color, #000);

  -webkit-box-shadow: var(--main-card-shadow);
  -moz-box-shadow: var(--main-card-shadow);
  box-shadow: var(--main-card-shadow);

  @media (max-width: 1420px) {
    transform: translate(-60%, -50%);
  }
  @media (max-width: 1140px) {
    position: inherit;
    width: 100%;
    top: 0%;
    left: 0%;
    transform: none;
    border-radius: 0%;
    min-width: 355px;
  }

  :focus{
    border-radius: 4px;
  }

  .currentDay {
    display: flex;
    justify-content: space-between;
    .currentDayWeather {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .currentCity {
      font-size: 17px;
    }
    .currentDegree {
      font-size: 80px;
      align-self: center;
      text-align: center;
    }
    .currentFeelsLike {
      font-size: 12px;
    }
    .currentDescription {
      font-size: 15px large;
      &:first-letter {
        text-transform: capitalize;
      }
    }
    .currentWeatherIconCover {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
