@import '../../sass/variables';

.header {
  width: 100%;
  height: 60px;
  padding: 10px;
  background-color: var(--header-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;

  -webkit-box-shadow: 0px 100px 100px -49px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 0px 100px 100px -49px rgba(0, 0, 0, 0.61);
  box-shadow: 0px 100px 100px -49px rgba(0, 0, 0, 0.61);
}