@import '../../sass/variables';

.root {
  position: relative;
  width: calc(60px * var(--toggle-rate, 1));
  height: calc(25px * var(--toggle-rate, 1));
  input {
    display: none;
  }
  .slider {
    width: calc(60px * var(--toggle-rate, 1));
    height: calc(25px * var(--toggle-rate, 1));
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    background-color: var(--toggle-background);
    border-radius: calc(25px * var(--toggle-rate, 1));
    cursor: pointer;
    transition: all 1.4s;
    &:before,
    &:after {
      content: "";
      position: absolute;
      bottom: calc(2.5px * var(--toggle-rate, 1));
      left: calc(2.5px * var(--toggle-rate, 1));
      width: calc(20px * var(--toggle-rate, 1));
      height: calc(20px * var(--toggle-rate, 1));
      background-color: var(--tiggle-switch);
      border-radius: calc(25px* var(--toggle-rate, 1));
    }
    &:before {
      transition: 0.4s;
    }
    &:after {
      transition: 0.5s;
    }
  }
  .wave {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(60px * var(--toggle-rate, 1));
    height: calc(25px * var(--toggle-rate, 1));
    border-radius: calc(20px * var(--toggle-rate, 1));
    transition: all 1.4s;
  }
  input:checked + .slider {
    background-color: transparent;
    &:before,
    &:after {
      transform: translateX(calc(35px * var(--toggle-rate, 1)));
      background-color: var(--tiggle-switch);

    }
  }
  input:checked ~ .wave {
    display: block;
    background-color: var(--toggle-background);
  }
}