@import '../../../sass/variables';

.weatherhoursline {
  margin-top:20px;
  display: grid;
  grid-template-columns: repeat(8, minmax(80px, 1fr));
  grid-template-rows: auto;
  gap: 7px;
  
  .weatherhours {
    height: 80px;
    border: 2px;
    border-radius: 4px;
    padding: 4px;
    font-size: 10px;
    background: var(--card-hour-color,#ffffff);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    .degreeContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .weatherDegry {
        font-size: 17px;
      }
      .weatherIcon {
        width: 60%;
        @media (max-width: 1140px) {
          width: 40%;
        }
      }

      .weatherDescription {
        text-align: center;
        font-size: 12px;
        &:first-letter {
          text-transform: capitalize;
        }
      }

    }
    .weatherDate {
      text-align: center;

    }
  }
}
